@font-face {
    font-family:'Gotham';
    src: url("https:www.daz3d.com/skin/frontend/enterprise/daznew/font/gotham/Gotham-Book.otf")
   }
   @font-face {
    font-family:'GothamItalic';
    src: url("https:www.daz3d.com/skin/frontend/enterprise/daznew/font/gotham/Gotham-BookItalic.otf")
   }
   @font-face {
    font-family:'GothamLight';
    src: url("https:www.daz3d.com/skin/frontend/enterprise/daznew/font/gotham/Gotham-Light.otf")
   }
   @font-face {
    font-family:'GothamLightItalic';
    src: url("https:www.daz3d.com/skin/frontend/enterprise/daznew/font/gotham/Gotham-LightItalic.otf")
   }
   @font-face {
    font-family:'GothamBold';
    src: url("https:www.daz3d.com/skin/frontend/enterprise/daznew/font/gotham/Gotham-Bold.otf")
   }
   @font-face {
    font-family:'GothamBoldItalic';
    src: url("https:www.daz3d.com/skin/frontend/enterprise/daznew/font/gotham/Gotham-BoldItalic.otf")
   }
html, body {
    height: 100%;
}
body {
    background: #000 url('../images/background.png');
    margin: 0;
    padding: 0;
    color: #777;
}
h1,h2,h3,h4,h5 {
    color: #005a9c;
    font-family:'GothamLight';
  }
  h1 {
    font-size: 2.6em;
    line-height: 2.45em;
  }
  h2 {
    font-size: 2.1em;
    line-height: 1.9em;
    color: #4aaaa5;
    border-bottom: 2px solid #dcdcdc;
    margin-bottom: 2%;
  }
  h3 {
    font-size: 1em;
    line-height: 1.65em;
    color: #777;
  }
  h4 {
    font-size: 1.65em;
    line-height: 1.4em;
  }
  h5 {
    font-size: 1.4em;
    line-height: 1.25em;
  }
  p {
      color: #777777;
      font-family:'Gotham';
      line-height: normal;
  }
  a, p, ul, li, ol {
    font-family:'Gotham';
  }
  #container {
    min-height: 100%;
    margin-bottom: -124px;
}
header {
    width: 100%;
    padding: 0;
    background: #fff;
    border-bottom: 2px solid #cccccc;
}
.bold {
    font-family:'GothamBold';
}
header .headerInfo {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #4aaaa5;
}
a:hover {
    color: black;
}
.myPic {
    margin-right: 2%; width: 100%; max-width: 250px; float: left;
}
header .headerInfo h1 {
    display: inline-block;
    margin: 0;
    background: #4aaaa5;
    color: #fff;
    padding: 0 3%;
}
header #navigation {
    float: right;
    padding: 4.5% 0 0 0;
}
header #navigation a {
    text-decoration: none;
    color: #777;
    float: left;
    text-align: center;
    padding: 0 20px;
    font-size: 17px;
    border-right: 1px solid grey;
}
header #navigation a.activeLink {
    color: #4aaaa5;
}
header #navigation a:nth-child(3), footer a:nth-child(3) {
    border-right: none;
}
header #navigation a:hover {
    color: #4aaaa5;
}

#contentContainer {
    width: 98%;
    max-width: 960px;
    margin: 2% auto;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
    padding: 2%;
    box-sizing: border-box;
}

.push {
    height: 120px;
}
.footer {
  height: 50px;
}
footer {
 
   
    padding: 35px 0;
    background: #666666;
    border-top: 4px solid #4aaaa5;
    text-align: center;
}
footer a {
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #fff;
    padding: 0 10px;
}
footer a:hover {
    color: #4aaaa5;
}
footer p {
    margin-top: 15px;
    color: #fff;
}
ul.contactInfo {
    padding: 10px;
    border: 1px solid lightgrey;
    width: 40%;
    float: left;
}
ul.contactInfo li {
    line-height: 35px;
    border-bottom: 1px solid lightgrey;
}
ul:contactInfo li:nth-child(3) {
    border-bottom: none;
}
/******************* PORTFOLIO *************/
.boxes {
    width: 25%;
    max-width: 320px;
    margin: 0 3%;
    overflow: hidden;
    position: relative;
    display: block;
    border: 1px solid #777;
    float: left;
    margin-bottom: 3%;  
}
.boxes img {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
}
.boxes div {
    position: absolute;
    bottom: 5%;
    background: rgba(74,170,165,.75);
    color: white;
    text-align: center;
    padding: 5% 0;
    z-index: 2;
    width: 100%;
    font-size: 1.75rem;
    transition: all 0.2s ease-in-out;
}
.boxes:hover > div {
    bottom: 15%;
}
/********************* FORM ****/
.form {
    padding: 3%;
    border: 1px solid #eee;
   

}
.form .formBox input, .form .formBox textarea {
    width: 98%;
    color: #777;
    background: #eee;
    border: 1px solid #333;
    padding: 2%;
    border-radius: 10px;
    font-family: 'Gotham';
    font-size: 1rem;

}
.form .formBox input:focus, .form .formBox textarea:focus {
    width: 98%;
    color: #777;
    background: white;
    border: 1px solid #333;
    padding: 2%;
    border-radius: 10px;
    font-family: 'Gotham';
    font-size: 1rem;

}
button {
    font-family:'GothamBold';
    padding: .9% 1.5%;
    border: 1px solid #777;
    background: rgb(226,226,226); /* Old browsers */
background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}
button:hover {
    color: black;
    background: rgb(224,243,250); /* Old browsers */
background: -moz-linear-gradient(top, rgba(224,243,250,1) 0%, rgba(216,240,252,1) 50%, rgba(184,226,246,1) 51%, rgba(182,223,253,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 ); /* IE6-9 */
font-family:'GothamBold';
cursor: pointer;
}
button:active {
    font-family:'GothamBold';
    padding: .9% 1.5%;
    border: 1px solid #777;
    background: rgb(226,226,226); /* Old browsers */
background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */  
}
/* MEDIA INQUIRES */

@media all and (max-width: 704px) and (min-width: 0px) {
    header .headerInfo h1 {
       display: block;
        margin: 0;
        background: #4aaaa5;
        color: #fff;
        padding: 0 3%;
        text-align: center;
    }
    .boxes {
        width: 44%;
        max-width: 320px;
        margin: 0 2.5%;
        overflow: hidden;
        position: relative;
        display: block;
        border: 1px solid #777;
        float: left;
        margin-bottom: 3%;
    }
}
@media all and (max-width: 417px) and (min-width: 0px) {
    header .headerInfo h1 {
       line-height: normal;
    }
    .aboutMeInfo .myPic {
        float: initial !important;
        max-width: none;
        
    }
    ul.contactInfo {
        float: none;
        width:auto;
    }
    header #navigation {
       float: none;
        padding: 4.5% 0;
        text-align: center;
    }
    header #navigation a {
        text-decoration: none;
        color: #777;
        float: none;
        text-align: center;
        padding: 0 20px;
        font-size: 17px;
        border-right: 1px solid grey;
    }
}